* {
    padding: 0;
    margin: 0;
}

main {
    display: grid;
    justify-content: center;
    padding: 1rem;

    article {
        width: 80vw;
    }
}

form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

